<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greeting</title>
</head>
<body>
    <h1>name = {{ name }}</h1>
    <h1>location = {{ location }}</h1>
    <h1>amount = {{ amount }}</h1>

    <form action="/visual" method="post">
        <label for="visual">Visual:</label>
        <input type="text" id="visual" name="visual" placeholder="See Location? Y/N" required><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>