<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask Web Form Example</title>
</head>
<body>
    <h2>CUSTOMER INFORMATION</h2>

    <form action="/newCustomer" method="get">
        <button type="submit">Add new customer</button>
    </form>

    <form action="/newInvoice" method="get">
        <button type="submit">Add new invoice</button>
    </form>

    <form action="/import_excel" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".xlsx" required>
        <button type="submit">Upload Excel File</button>
    </form>
    <form method="POST" action="/update_customers">
        <table border="1">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>Invoice Name</th>
                    <th>Email</th>
                    <th>Store Count</th>
                    <th>Rate</th>
                    <th>Payment Term</th>
                </tr>
            </thead>
            <tbody>
                {% for cust in customers %}
                <tr>
                    <td>
                        <a href="{{ url_for('newInvoice', customer_id=cust.id) }}">
                            <button type="button">Add New Invoice</button>
                    </td>
                    <td>
                        <a href="{{ url_for('customerInfo', customer_id=cust.id) }}">{{ cust.name }}</a>
                    </td>
                    <td><input type="email" name="email_{{ cust.id }}" value="{{ cust.email }}"></td>
                    <td><input type="number" name="store_count_{{ cust.id }}" value="{{ cust.store_count }}"></td>
                    <td><input type="text" name="rate_{{ cust.id }}" value="{{ cust.rate }}"></td>
                    <td><input type="number" name="paymentTerm_{{ cust.id }}" value="{{ cust.paymentTerm }}"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="Submit">Save Changes</button>
</form>
</body>
</html>