<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask Web Form Example</title>
</head>
<body>
    <h2>STORE INFORMATION</h2>

    <form action="/newCustomer" method="get">
        <button type="submit">Add new customer</button>
    </form>

    <form action="/newInvoice" method="get">
        <button type="submit">Add new invoice</button>
    </form>

    <form action="/import_excel" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".xlsx" required>
        <button type="submit">Upload Excel File</button>
    </form>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Email</th>
                <th>Store Count</th>
                <th>Rate</th>
                <th>Amount</th>
                <th>Vendor Number</th>
                <th>Current Purchase Order Number</th>
                <th>Payment Term</th>
                <th>Current Purchase Order</th>
                <th>Next Purchase Order</th>
                <th>Number of Stores</th>
                <th>Unit Price</th>
                <th>Total price</th>
                <th>Fixed Price</th>
                <th>Current Total Purchase Order Amount</th>
                <th>Current Purchase Order Expiration Date</th>
                <th>Next Total Purchase Order Amount</th>
                <th>Next Purchase Order Expiration Date</th>
            </tr>
        </thead>
        <tbody>
            {% for cust in customers %}
            <tr>
                <td>{{ cust.name }}</td>
                <td>{{ cust.location }}</td>
                <td>{{ cust.email}}</td>
                <td>{{ cust.store_count }}</td>
                <td>{{ cust.rate }}</td>
                <td>{{ cust.amount }}</td>
                <td>{{ cust.vendornum }}</td>
                <td>{{ cust.currentPurchaseOrderNum  }}</td>
                <td>{{ cust.paymentTerm }}</td>
                <td>{{ cust.currentPO }}</td>
                <td>{{ cust.nextPO }}</td>
                <td>{{ cust.numStores }}</td>
                <td>{{ cust.unitPrice }}</td>
                <td>{{ cust.totalPrice }}</td>
                <td>{{ cust.fixedPrice }}</td>
                <td>{{ cust.currentPOtotal }}</td>
                <td>{{ cust.currentPOExpDate }}</td>
                <td>{{ cust.nextPOtotal }}</td>
                <td>{{ cust.nextPOExpDate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>