<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoice Confirmation</title>
</head>
<body>
    <h1>Invoice Confirmation Page</h1>
    <p> Q&A Payment Solutions Inc<br>
        EIN: 68-0679829<br>
        #105 - 325 1933 State Route 35 Wall NJ 07719<br>
        O: 732-449-3579<br>
        E: accounts@qandapaymentsolutions.com
    </p>
    <p>Customer: {{ customer_name }}</p>
    <p>Amount: {{amount}}</p>
</body>
</html>
