<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Invoice PDF</title>
</head>
<body>
    <h1>Invoice Confirmation</h1>

    <div>
        <p><strong>Q&A Payment Solutions Inc</strong><br>
        EIN: 68-0679829<br>
        #105 - 325 1933 State Route 35 Wall NJ 07719<br>
        O: 732-449-3579<br>
        E: accounts@qandapaymentsolutions.com</p>
    </div>

    <div>
        <p><strong>Customer:</strong> {{ customer.name }}</p>
        <p><strong>Location:</strong> {{ customer.location }}</p>
        <p><strong>Email:</strong> {{ customer.email }}</p>
        <p><strong>Store Count:</strong> {{ customer.store_count }}</p>
        <p><strong>Rate:</strong> {{ customer.rate }}</p>
        <p><strong>Amount:</strong> {{ customer.amount }}</p>
        <p><strong>Vendor #:</strong> {{ customer.vendornum }}</p>
        <p><strong>Current PO Num:</strong> {{ customer.currentPurchaseOrderNum }}</p>
        <p><strong>Payment Term:</strong> {{ customer.paymentTerm }}</p>
        <p><strong>Current PO:</strong> {{ customer.currentPO }}</p>
        <p><strong>Next PO:</strong> {{ customer.nextPO }}</p>
        <p><strong>Unit Price:</strong> {{ customer.unitPrice }}</p>
        <p><strong>Total Price:</strong> {{ customer.totalPrice }}</p>
        <p><strong>Fixed Price:</strong> {{ customer.fixedPrice }}</p>
        <p><strong>Current PO Total:</strong> {{ customer.currentPOtotal }}</p>
        <p><strong>Current PO Expiration:</strong> {{ customer.currentPOExpDate }}</p>
        <p><strong>Next PO Total:</strong> {{ customer.nextPOtotal }}</p>
        <p><strong>Next PO Expiration:</strong> {{ customer.nextPOExpDate }}</p>

        <!-- Services Display -->
        <h3>Selected Services</h3>
        <ul>
            {% for service in services %}
                <li>
                <strong>{{ service.name }}</strong>: ${{ '%.2f'|format(service.amount) }}<br>
                <em>{{ service.description }}</em>
                </li>
            {% endfor %}
        </ul>

        <!-- Other Services -->
        {% if other_services %}
            <ul>
            {% for name, amt, detail in other_services %}
                <li>
                    <strong>{{ name }}</strong> - ${{ '{:.2f}'.format(amt) }}
                    {% if detail.strip() %}<br><em>Description:</em> {{ detail }}{% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>
