<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Customer</title>
</head>
<body>

    <form action="/newCustomer" method="post">
        <input type="text" id="name" name="name" placeholder="Name" required><br>
        <input type="text" id="location" name="location" placeholder="Location" required><br>
        <input type="number" id="store_count" name="store_count" placeholder="Store Count" required><br>
        <input type="text" id="rate" name="rate" placeholder="Rate" required><br>
        <input type="number" id="amount" name="amount" placeholder="Amount" required><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>