<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Customer</title>
</head>
<body>

    <form action="/newCustomer" method="post">
        <input type="text" id="name" name="name" placeholder="Name" required><br>
        <input type="text" id="location" name="location" placeholder="Location" required><br>
        <input type="text" id="email" name="email" placeholder="Email" required><br>
        <input type="number" id="store_count" name="store_count" placeholder="Store Count" required><br>
        <input type="text" id="rate" name="rate" placeholder="Rate" required><br>
        <input type="number" id="amount" name="amount" placeholder="Amount" required><br>
        <input type="text" id="vendornum" name="vendornum" placeholder="Vendor Num" required><br>
        <input type="text" id="currentPurchaseOrderNum" name="currentPurchaseOrderNum" placeholder="Current Purchase Order Number" required><br>
        <input type="number" id="paymentTerm" name="paymentTerm" placeholder="Payment Term" required><br>
        <input type="text" id="currentPO" name="currentPO" placeholder="Current PO" required><br>
        <input type="text" id="nextPO" name="nextPO" placeholder="Next PO" required><br>
        <input type="number" id="unitPrice" name="unitPrice" placeholder="Unit Price" required><br>
        <input type="number" id="totalPrice" name="totalPrice" placeholder="Total Price" required><br>
        <input type="number" id="fixedPrice" name="fixedPrice" placeholder="Fixed Price" required><br>
        <input type="number" id="currentPOtotal" name="currentPOtotal" placeholder="Current PO Total" required><br>
        <input type="date" id="currentPOExpDate" name="currentPOExpDate" placeholder="Current PO Expiration Date" required><br>
        <input type="number" id="nextPOtotal" name="nextPOtotal" placeholder="Next PO Total" required><br>
        <input type="date" id="nextPOExpDate" name="nextPOExpDate" placeholder="Next PO Expiration Date" required><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>